@charset "utf-8";
.bered {
    color: #EE14AD;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

.myred{
    color: #1C56BA;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;	
}

.mybg{
    background-repeat: repeat;
    background-image: url(../images/background.png);
}